<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %} {{ page.title }} {% else %} J Votaw Tree Service St. Louis Tree Service {% endif %}</title>
    <!--

    Created by:

     _       _    _____ _   _                               
    | |_   _| | _|___ /| |_| |__   ___  _ __ ___   __ _ ___ 
    | | | | | |/ / |_ \| __| '_ \ / _ \| '_ ` _ \ / _` / __|
    | | |_| |   < ___) | |_| | | | (_) | | | | | | (_| \__ \
    |_|\__,_|_|\_\____/ \__|_| |_|\___/|_| |_| |_|\__,_|___/

                                         Thanks for visiting.
    -->

    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33894219-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    -->

  </head>
  <body>

      <header id="header">

        <div class="wrap">

            <h1 id="logo"><a href="/">J Votaw Tree Service in St. Louis</a></h1>

            <nav role="navigation">

                <ul id="main-menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">About</a></li>
                </ul>

            </nav>

        </div>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>

      </footer>
    </div>
    <script src="/javascripts/main.js"></script>
    
  </body>
</html>
