---
layout: default
---

<div id="video-area">
    <div id="video-caption">
        <div class="wrap">
            <h1>Fast, Affordable, Tree Trimming Services in St. Louis</h1>
            <p>
                We service hundreds of homes in the St. Louis area every year.
                Please watch this short video about the services we offer.
            </p>
            <p>
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
            </p>
            <blockquote>
                <span class="left-quote quote">&ldquo;</span>
                <!--<span class="right-quote quote">&rdquo;</span>-->
                <p>
                    We are proud to be your next St. Louis tree trimming professionals!
                </p>
                <p class="owner">
                    <span class="name">Jamie Votaw</span>
                    <span class="title">&mdash; Owner</span>
                </p>
            </blockquote>
        </div>
    </div>
    <div id="video">
        <iframe src="http://player.vimeo.com/video/26324142?title=0&amp;byline=0&amp;portrait=0&amp;color=AC2F35" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>

<section id="hero" class="clearfix">
    
    <div>
        <div class="wrap">
            <h3>Tree Trimming</h3>
            <p>
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
            </p>
        </div>
    </div>

    <div>
        <div class="wrap">
            <h3>Tree Removal</h3>
            <p>
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
            </p>
        </div>
    </div>

    <div>
        <div class="wrap">
            <h3>Tree Injections</h3>
            <p>
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
                We specialize in tree trimming, tree removal, stump grinding
                and tree injetions in the St. Louis area.
            </p>
        </div>
    </div>

</section>
