---
layout: default
---
<aside id="sidebar">
    <div class="wrap">
        <ul id="testimonials">
            <li>
                <h3>Very Satisfied</h3>
                <p>
                    We are very satisfied with the work
                    Votaw Tree Services did for our home in 
                    Rock Hill of St. Louis. The crew was fast, 
                    efficient, polite and courteous.
                </p>
                <p class="person">
                    <span class="name">Luke Thomas</span>
                    <span class="location">Rock Hill, MO</span>
                </p>
            </li> <!-- testimonial -->
            <li>
                <h3>Very Satisfied</h3>
                <p>
                    We are very satisfied with the work
                    Votaw Tree Services did for our home in 
                    Rock Hill of St. Louis. The crew was fast, 
                    efficient, polite and courteous.
                </p>
                <p class="person">
                    <span class="name">Luke Thomas</span>
                    <span class="location">Rock Hill, MO</span>
                </p>
            </li> <!-- testimonial -->
        </ul>
    </div>
</aside>

<section id="content">
    <div class="wrap">
        {{ content }}
    </div>
</section>

<div class="clearfix"></div>
